# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of most popular languages.
- List of commonly used libraries.
- List of Data Science tools
- Basic arithmetic in Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java
5. SQL
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Scikit-Learn
3. Pytorch
4. Caffe
5. ggplot
6. plotly

|Data Science Tools|
|------------|
|Apache Spark|
|Jupyter Notebook|
|KNIME|
|MATLAB|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Siddhartha Nalla